* {
	margin: 0;
	padding: 0;
	font-family: 'Courgette', cursive;
}

.iza {
	width: 100%;
	height: auto;
	float: left;
}

.trinaest {
	width: 100%;
	height: 100vh;
}

.cena {
	text-align: justify;
	top: 350px;
	left: 200px;
	position: absolute;
}

.podela {
	text-align: justify;
	list-style-type: none;
	top: 400px;
	left: 250px;
	font-size: 20px;
	position: absolute;
}

.podela li {
	display: block;
	line-height: 50px;
}
