footer {
	width: 100%;
	height: 80px;
	float: left;
	background-color: pink;
	color: black;
}

p {
	padding-top: 10px;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
}

.fa-facebook {
	font-size: 30px;
	color: black;
	
}

.fa-instagram {
	font-size: 30px;
	color: black;
}