* {
	margin: 0;
	padding: 0;
	font-family: 'Courgette', cursive;
}


.galerijatelo {
	width: 100%;
	height: auto;
}

.prvi {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.prvi img {
	width: 100%;
	height: 250px;
	border-radius: 20%;
}

.drugi {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.drugi img {
	width: 100%;
	height: 250px;
	border-radius: 20%;
}

.treci {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.treci img {
	width: 100%;
	height: 250px;
	border-radius: 20%;
}

.cetvrti {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.cetvrti img {
	width: 100%;
	height: 250px;
	border-radius: 20%;
}

.peti {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.peti img {
	width: 100%;
	height: 250px;
	border-radius: 20%;
}

.sesti {
	width: 20%;
	height: 100%;
	background-color: pink;
	float: left;
}

.sesti img {
	width: 100%;
	height: 250px;
	border-radius: 20%;
}