header {
	width: 100%;
	height: 100px;
}


div img {
	width: 33.33%;
	height: 250px;
	float: left;
}

nav {
	width: 100%;
	height: 30px;
	float: left;
	text-align: center;
}

nav ul {
	list-style-type: none;
	width: 100%;
	height: 100%;
	text-align: center;
	float: left;
} 

nav ul li {
	display: inline-block;
	width: 25%;
	height: 100%;
	line-height: 30px;
	background-color: pink;
}

nav ul li a {
	text-decoration: none;
	color: black;
}

nav ul li:hover {
	background-color: purple;
}