* {
	margin: 0;
	padding: 0;
	font-family: 'Courgette', cursive;
}

.kontakt {
	width: 100%;
	height: auto;
	float: left;
	background-color: white;
}

.levo {
	width: 25%;
	height: auto;
	float: left;
}
 .profil {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 50px;
}
.profil, h4 {
	padding-left: 60px;
	margin-top: 20px;
}


.desno {
	width: 75%;
	height: 700px;
	float: left;
	background-color: white;
}

.gore {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.lokacija {
	width: 100%;
	height: 250px;
}

.lokacija iframe {
	width: 100%;
	height: 100%;
}

.dole {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;

}

.inputi {
	float: left;
	margin-top: 10px;
	width: 100%;
	height: 50px;
	padding-left: 5px;
}

.one {
	width: 25%;
	height: 30px;
}
textarea {
	display: block;
	margin-top: 10px;
	width: 50%;
	height: 150px;
	text-align: center;
	margin-left: 250px;
}
.dugme {
	display: block;
	margin-left: 250px;
}

#loader {
	width: 100%;
	height: 25px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	float: left;
}

#progressjedan {
	width: 0%;
	height: 100%;
	background-color: black;
}

#progressdva {
	width: 0%;
	height: 100%;
	background-color: red;
}

#progresstri {
	width: 0%;
	height: 100%;
	background-color: yellow;
}