@import url(header.css);
@import url(footer.css);
@import url(kontakt.css);
@import url(cenovnik.css);
@import url(galerija.css);


* {
	margin: 0;
	padding: 0;
	font-family: 'Courgette', cursive;
}

section {
	width: 100%;
	height: auto;
	float: left;
	background-color: pink;
}

.prvastrana {
	width: 25%;
	height: auto;
	float: left;
}

.pet {
	width: 100%;
	height: 100vh;
	float: left;
}

article {
	width: 75%;
	height: auto;
	float: left;

}

.dvanaest {
	width: 100%;
	height: 100vh;
	float: left;
}

.naslov {
	text-align: center;
	position: absolute;
	top: 420px;
	left: 400px;
}

.pasus {
	text-align: justify;
	font-size: 25px;
	position: absolute;
	top: 520px;
	right: 20px;
	left: 400px;
}

.ponuda {
	position: absolute;
	text-align: justify;
	color: black;
	top: 420px;
	left: 50px;
	
}

.lista {
	text-align: justify;
	list-style-type: none;
	top: 500px;
	left: 50px;
	font-size: 20px;
	position: absolute;
}

.lista li {
	display: block;
	line-height: 50px;
}

@media only screen and (min-width: 641px) and (max-width: 1000px) {

} 

@media only screen and (max-width: 640px) {
	
	
	}
}